
.list-wrapper{
    display: flex;
    flex-direction: row;
    background: rgb(144 126 168 / 40%);
    border-radius: 20px;
    margin-top: 15px;
    justify-content: space-between;
    align-items: flex-start;
}

.list-body{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.subtodo-item > a{
    color: white;
    text-decoration: none;
    font-size: 2em;
}

.subtodo-item > button{
    background: none;
    border: none;
}

.create-todo{
    margin: 30px 5px 0 0;
}