*{
    margin: 0;
}
body{
    background: hsla(211, 16%, 26%, 1);

    background: linear-gradient(0deg, hsla(211, 16%, 26%, 1) 0%, hsla(216, 13%, 31%, 1) 30%, hsla(28, 44%, 47%, 1) 100%);

    background: -moz-linear-gradient(0deg, hsla(211, 16%, 26%, 1) 0%, hsla(216, 13%, 31%, 1) 30%, hsla(28, 44%, 47%, 1) 100%);

    background: -webkit-linear-gradient(0deg, hsla(211, 16%, 26%, 1) 0%, hsla(216, 13%, 31%, 1) 30%, hsla(28, 44%, 47%, 1) 100%);

    color: white;
}