.wrapper{
    margin: 20px;
    width: 60%;
}

.name{
    display: flex;
    height: 10vh;
    width: 100%;
    background: #29262E;
    margin: 10px 0;
    padding: 10px;
    color:white;
    border-radius: 15px;
}

.name > input[type="checkbox"]{
  appearance: none;
  appearance: none;

  /* creating a custom design */
  width: 9%;
  margin-right: 5%;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  background: #535354;
}

.name > input[type='checkbox']:checked{
    background-image: url("../../assets/done.svg");
    background-size: 100% 100%;
}

.name > input[type="text"]{
    background: none;
    font-size: 4em;
    color: white;
    width: 70%;
    border: none;
}

.name > input[type="text"]:focus{
    outline: none;
}

.description{
    display: flex;
    background: rgb(255 255 255 / 10%);
    align-items: center;
    padding: 3px 3px 3px 10px;
    margin-top: 10px;
    font-size: 2em;
    width: 100%;
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
}

.update-button{
    background: none;
    color: white;
    border: 1px solid white;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}