
.cap {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.cap > a {
    color: white;
    text-decoration: none;
    padding: 3px 10px;
    margin: 5px 0;
    border: 1px solid white;
    border-radius: 3px;
}

.cap > button{
    background: none;
    padding: 3px 10px;
    margin: 5px 0;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
}

.nav-button > a{
    color: white;
    text-decoration: none;
}