
.login-page{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-page > form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-page > form > input {
    margin-top: 10px;
}

.login-page > form > button{
    margin-top: 10px;
}

.login-page > a{
    color: white;
    text-decoration: none;
}