.register-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.register-page > form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.register-page >form > input{
    margin-top: 10px;
}

.register-page > form > button {
    margin-top: 10px;
}

.register-page > a{
    color: white;
    text-decoration: none;
}